<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>mailapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Mailbox</display-name>
    <servlet-name>Mailbox</servlet-name>
    <servlet-class>com.mail.presentation.Mailbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mailbox</servlet-name>
    <url-pattern>/Mailbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.mail.presentation.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendMail</display-name>
    <servlet-name>sendMail</servlet-name>
    <servlet-class>com.mail.presentation.sendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMail</servlet-name>
    <url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.mail.presentation.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showMsg</display-name>
    <servlet-name>showMsg</servlet-name>
    <servlet-class>com.mail.presentation.showMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMsg</servlet-name>
    <url-pattern>/showMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>replyMail</display-name>
    <servlet-name>replyMail</servlet-name>
    <servlet-class>com.mail.presentation.replyMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyMail</servlet-name>
    <url-pattern>/replyMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMail</display-name>
    <servlet-name>DeleteMail</servlet-name>
    <servlet-class>com.mail.presentation.DeleteMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMail</servlet-name>
    <url-pattern>/DeleteMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnection</display-name>
    <servlet-name>Deconnection</servlet-name>
    <servlet-class>com.mail.presentation.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnection</servlet-name>
    <url-pattern>/Deconnection</url-pattern>
  </servlet-mapping>
</web-app>